<div class="content">
    <p-toast></p-toast>
    <!--Main Navigation-->
    <header>
        <!-- Navbar -->
        <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>


                <ul class="navbar-nav  d-flex flex-row">


                    <p-button label="Logout" class="button" (click)="LogOut()"></p-button>

                    <p-confirmDialog [style]="{width: '25vw'}"></p-confirmDialog>
                </ul>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
        <div class="position-sticky">
            <div class="list-group list-group-flush mx-3 mt-4">

                <a class="list-group-item list-group-item-action py-2 ripple active" style="background: #22C55E;
                border: 1px solid #22C55E;" [routerLink]="['/Systems/WareHouses']" *ngIf="userType == 'Manager'">
                    <i class="bi bi-box2-heart"></i><span>WareHouses</span>
                </a>
                <a class="list-group-item list-group-item-action py-2 ripple active mt-4"
                    [routerLink]="['/Systems/SupplyDocuments']" style="background: #22C55E;
                border: 1px solid #22C55E;"><i class="bi bi-file-earmark-ruled"></i><span>SupplyDocuments</span></a>


            </div>
        </div>
    </nav>
    <!-- Sidebar -->


    <!--Main Navigation-->

    <!--Main layout-->

</div>
<main style="margin-top: 7vw; ">
    <div class="container-fluid pt-4">
        <router-outlet></router-outlet>
    </div>
</main>