<div class=" container-fluid">
    <h3>Warehouses</h3>
    <p-table #dt [columns]="cols" [value]="wareHouses" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]"
        [exportHeader]="'customExportHeader'" [paginator]="true" [tableStyle]="{ 'min-width': '50rem' }"
        selectionMode="multiple" [(selection)]="selectedWarehouse">
        <ng-template pTemplate="caption">
            <div class="row">
                <div class="col-2 p-2">
                    <p-button icon="pi pi-external-link" label="Export" (onClick)="dt.exportCSV()" />
                </div>
                <div class="col-1 p-2">
                    <p-button icon="pi pi-plus" label="Add" (onClick)="Add()" />
                </div>
                <div class="col-1 p-2">
                    <p-button icon="pi pi-trash" label="Delete" (onClick)="Delete()"
                        [disabled]="!selectedWarehouse.length" />
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{ col.header }}
                </th>
                <th ></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{ rowData[col.field] }}
                </td>
                <td>
                    <button type="button" pButton pRipple icon="pi pi-list-check" class="p-button-success" (click)="ShowItems(rowData)">
                         Items
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Header" [resizable]="false" [modal]="true" [maximizable]="true" appendTo="body"
    [(visible)]="dialogVisible" [style]="{width: '75vw'}" [contentStyle]="{height: '300px'}">
    <p-table [value]="items" [scrollable]="true" scrollHeight="flex" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Description
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.quantity}}
                </td>
                <td>
                    {{item.description}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>