/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '~bootstrap-icons/font/bootstrap-icons.css';

.button .p-ripple {
    background-color: transparent !important;
    border: transparent !important;
}

/* .p-inputgroup-addon {
    border-radius: 0 !important;

}

.p-inputtext {
    border-radius: 0 !important;

} */

/* .p-calendar {

    width: 12.3vw !important;
} */

.p-dropdown {

    width: 13.8vw !important;
    /* border-radius: 0 !important; */
}

.p-dropdown-panel .p-dropdown-header .p-dropdown-filter {
    /* padding: 0 !important; */
    margin: 0 !important;
}

/* form .p-button {
    background: #22C55E !important;
    border: 1px solid #22C55E !important;
} */

.login100-form-btn .p-button {
    background: transparent !important;
    border: 1px solid transparent !important;
}

/* .p-menu.p-menu-overlay {
    top: 97.312px !important;
    left: 41.5375px !important;
} */

label {
    display: block !important;
}

.p-autocomplete {
    width: 100% !important;
}

/* .p-datatable .p-datatable-thead>tr>th {
    text-align: right !important;
} */

/* .p-datatable .p-datatable-tbody>tr>td {
    text-align: right !important;
} */

.p-button.p-button-icon-only {
    width: 2rem !important;
}

.p-datepicker:not(.p-datepicker-inline) {
    z-index: 10000 !important;
}
.progress-spinner {
    position: fixed !important;
    z-index: 999 !important;
    height: 2em !important;
    width: 2em !important;
    overflow: show !important;
    margin: auto !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: '' !important;
  display: block !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  /* background-color: rgba(0,0,0,0.53) !important; */
}

.p-dropdown {
    width: 100% !important;
}
button.p-ripple.p-element.p-button.p-component {
    background-color: #22c55e !important;
    border-color: #22c55e !important;
}