<p-toast></p-toast>
<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form [formGroup]="formGroup">

          <h2>Login</h2>
          <!-- Username input -->
          <div data-mdb-input-init class="form-outline mb-4">
            <label class="form-label" for="form3Example3">UserName</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg"
              placeholder="Enter UserName" [(ngModel)]="login.username" formControlName="UserName"  required/>
          </div>

          <!-- Password input -->
          <div data-mdb-input-init class="form-outline mb-3">
            <label class="form-label" for="form3Example4">Password</label>
            <input type="password" id="form3Example4" class="form-control form-control-lg" placeholder="Enter password"
              [(ngModel)]="login.password" formControlName="Password" required/>
          </div>


          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="Login()" type="submit"
              [disabled]="formGroup.invalid">Login</button>

          </div>

        </form>
      </div>
    </div>
  </div>

</section>